$inner-border-primary: inset 0px 0px 0px 1px rgba(79, 109, 122, 0.1);
$inner-border-cta: inset 0px 0px 0px 1px rgba(13,128,61,0.1);

$cyan-disabled: rgb(161,221,230);
$green-disabled: rgb(115,230,163);

.btn-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn {
    @apply inline-flex justify-center items-center
        min-w-48 h-10 px-4 py-1
        text-4 font-semibold leading-none whitespace-no-wrap
        rounded-normal;

    &:disabled,
    &.--disabled {
        @apply cursor-not-allowed;
    }

    &.--text {
        @apply text-blue p-0 m-0 font-normal;

        > .icon-component {
            @apply w-3 h-6;
        }

        &:hover,
        &:focus {
            @apply underline outline-none;
        }

        &:active,
        &.--active {
            @apply text-cyan-dark no-underline;
        }

        &:disabled,
        &.--disabled {
            color: $cyan-disabled;

            &:hover {
                @apply no-underline;
                color: $cyan-disabled;
            }
        }
    }

    // Secondary button
    &.--secondary {
        @apply font-normal text-cyan border border-cyan;

        &:hover,
        &:focus {
            @apply bg-cyan text-white outline-none;
        }

        &:active,
        &.--active {
            @apply bg-transparent text-cyan-dark border-cyan-dark outline-none;
        }

        &:disabled,
        &.--disabled {
            border-color: $cyan-disabled;
            color: $cyan-disabled;

            &:hover {
                @apply bg-transparent;
                color: $cyan-disabled;
            }
        }
    }

    // Primary button
    &.--primary {
        @apply bg-cyan text-white;
        box-shadow: $inner-border-primary;

        &:hover,
        &:focus {
            @apply shadow-button-hover outline-none;
        }

        &:active,
        &.--active {
            @apply bg-cyan-dark outline-none;
            box-shadow: $inner-border-primary;
        }

        &:disabled,
        &.--disabled {
            background-color: $cyan-disabled;

            &:hover {
                box-shadow: $inner-border-primary;
            }
        }
    }

    // Call-to-Action button
    &.--cta {
        @apply bg-green text-light;
        box-shadow: $inner-border-cta;

        &:hover,
        &:focus {
            @apply shadow-button-hover outline-none;
        }

        &:active,
        &.--active {
            @apply bg-green-dark outline-none;
            box-shadow: $inner-border-cta;
        }

        &:disabled,
        &.--disabled {
            background-color: $green-disabled;

            &:hover {
                box-shadow: $inner-border-primary;
            }
        }
    }

    // Campaign and filter buttons
    &.--campaign,
    &.--filter {
        @apply min-w-0 font-normal text-cyan-dark border border-cyan-dark;

        &:hover,
        &:focus,
        &:active,
        &.--active {
            @apply bg-cyan-dark text-white outline-none;
        }

        &:disabled,
        &.--disabled {
            border-color: $cyan-disabled;
            color: $cyan-disabled;

            &:hover {
                @apply bg-transparent;
                color: $cyan-disabled;
            }
        }

        &.--small {
            @apply px-4;
        }
    }

    &.--filter {
        @apply pr-3 text-blue-green text-5;

        > .icon-component:last-child {
            @apply text-cyan-dark;
        }

        &:hover,
        &:focus,
        &:active,
        &.--active {
            > .icon-component:last-child {
                @apply text-white;
            }
        }
    }

    &.--small {
        @apply max-w-full min-w-0 h-7-1/2 text-6 px-7 py-1;
    }
}
